
@{
    ViewBag.Title = "Links";
}

<h2>@ViewBag.Title</h2>

<u1>
    <li><a href="https://www.w3schools.com/html/html_links.asp">Learn</a></li>
    <li><a href="https://www.w3schools.com/html/html_links.asp">Your</a></li>
    <li><a href="https://www.w3schools.com/html/html_links.asp">Bacon</a></li>
</u1>