@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Best Website</h1>
    <p class="lead">This is the best website you will have ever seen on the internet, I guarantee you it is.</p>
    <p><a href="" class="btn btn-primary btn-lg">Wibble!&raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Best Ever</h2>
        <p>
            I know what you're thinking. How can someone have the best website ever? Well, that is very simple. 
            You see the thing is, I'm right and you're not and that's all you need to know.
        </p>
        <p><a class="btn btn-default" href="">WOAH!&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Is it though?</h2>
        <p>Yes'm! It's the best website on the internet. 100% chicken-fried guarantee from me to you, my word is solid as
        plastic icing paper.</p>
        <p><a class="btn btn-default" href="">Oho! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>You make cakes?</h2>
        <p>No, sir. What gave you that idea? Are you silly? Have you been bonked recently and have acquired a brain damaging?</p>
        <p><a class="btn btn-default" href="">I need healing! &raquo;</a></p>
    </div>
</div>